@media (min-width: 768px) {
  .primary {
    color: orange;
  }
}

.recipeCard {
  color: #281708;
  background-color: #f4f4f4;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.recipeCard:hover {
  background-color: white;
  color: #a53e3e;
  /* background-color: #e0d6d6; */
}
