.button {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;

  min-width: 120px;
  max-width: 300px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  font-size: 20px;
  height: 38px;
}

.small {
  font-size: 16px;
  height: 30px;
}

.button:hover {
}

.button:active {
}
