.button {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  min-width: 120px;
  height: 46px;
  padding: 6px 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  /* background-color: #842727; */
  /* color: #f4f4f4; */
}

.button:hover {
  background-color: white;
  color: #a53e3e;
}

.button:active {
  /* background-color: #2e0c0c; */
}
