.recipesListPageMainContainer {
  flex: 5;
}

.recipesListPageSideContainer {
  flex: 1;
  padding: 95px 0px 0px 30px;
}

.recipesListPageHeader {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px 20px 30px;
}

.recipesListPageList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
}
