.recipeCard {
  color: #281708;
  background-color: #f4f4f4;

  display: flex;
  flex-direction: column;
  margin: 6px;
  justify-content: flex-start;
  align-items: center;
}

.recipeCard:hover {
  background-color: white;
  color: #a53e3e;
}

.recipeCardImage {
  max-width: 92%;
  margin: 18px 6px;
}

.recipeTitleContainer {
  padding: 3px 3px 16px 3px;
}

.textAlignCenter {
  text-align: center;
}
