.border {
  border: 1px #dbdbdb solid;
}

.textInputLabel {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 20px 0px 10px 0px;
}

.pageFlexContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 700px;
  padding: 24px;
  margin: 40px 100px;
}

.flexColumn {
  flex-direction: column;
}

.pageContainer {
  margin: 40px 100px;
  padding: 24px;
}

.animationTransition {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.circleButton {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 26;
  color: #b3acac;
  width: 30px;
  height: 30px;
  border: 1px #dbdbdb solid;
  border-radius: 15px;
  margin: 5px;
}

.inputTextStyling {
  font-size: 16px;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1000px) {
  .flexColumnSmallScreen {
    flex-direction: column;
  }
}
