.border {
  border: 1px #dbdbdb solid;
}

.error {
  background-color: #af5b5b;
  padding: 6px;
}

.textInputLabel {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 20px 0px 10px 0px;
}

.pageFlexContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 87.5vh;
  padding: 24px;
  margin: 2.5vh 6vh;
}

.flexColumn {
  flex-direction: column;
}

.pageContainer {
  margin: 40px 100px;
  padding: 24px;
}

.animationTransition {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.circleButton {
  width: 36px;
  height: 36px;
  border: none;
}

.inputTextStyling {
  font-size: 16px;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1000px) {
  .flexColumnSmallScreen {
    flex-direction: column;
  }
  .alignCenter {
    align-items: center;
  }
}
